@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
 font-family: 'Nike Futura', sans-serif;
}

@layer components {
  .title-1 {
    @apply font-nike text-[4.5rem] font-[800] tracking-[-0.25rem];
  }

  .title-2 {
    @apply font-helvetica text-[1.5rem] font-[600] leading-[1.75rem];
  }

  .title-3 {
    @apply font-helvetica text-[1rem] font-[600];
  }

  .title-4 {
    @apply font-helvetica text-[0.9rem] font-[600];
  }

  .title-5 {
    @apply font-helvetica text-[0.7rem] font-[600];
  }

  .link {
    @apply font-helvetica text-[0.75rem] font-[600] leading-[0.875rem];
  }

  .body-1 {
    @apply font-helvetica text-[1rem] font-[500] leading-[0.875rem];
  }

  .body-2 {
    @apply font-helvetica text-[0.9rem] font-[400] leading-[1.2rem];
  }

  .body-3 {
    @apply font-helvetica text-[0.8rem] font-[400] leading-[1rem];
  }

  .sub-title {
    @apply font-nike text-[1.25rem] font-[400] leading-[1.75rem];
  }
}

h1,h2,h3,h4,h5,p,ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

@keyframes pulse {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.pulse {
  animation: pulse 1s infinite;
}